let mapleader = " "
map <Leader>sf <action>(GotoFile)
map <Leader>q <action>(GotoNextError)
nnoremap L i<Enter>
set relativenumber
set number
set scrolloff=10
set clipboard+=unnamed
Plug 'tpope/vim-commentary'
set mini-ai
set commentary
